* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}


html,body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}


main {
    height: 13rem;
}


/* fundo da pagina, body*/
body {
    background-color: #f1dbda;
}


/*header da pagina*/
#header {
    align-items: center;
    background-color:#E45195;
    display: flex;
    height: 13rem;
    left: 0rem;
    position: fixed;
    right: 0rem;
    top: 0rem;
}


/*logo da pagina*/
.logosite {
    font-size: 4rem;
    display: inline-flex;
    width: 20rem;
    margin-left: 17rem;
}



.redirecionamento {
    display: flex;
    margin-left: 37.5rem;
    float: right;
}

/*redirecionamentos da pagina*/
.redirecionamentos{
    color: #f9ebf2;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    font-weight:bold;
    margin-left: 6rem;
    margin-right: 0rem;
    transition: all 0.5s;
    vertical-align: middle;
}

/*animacao do redirecionamento*/
.redirecionamentos:hover {
    font-size: 2.7rem;
    transition: all 0.4s;
    color: white;
}


/*palavra logo após a header*/
.lancamentos {
    color:#E45195;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.6rem;
    font-weight: bold;
    justify-content:right;
    margin-bottom: 1rem;
    margin-right: 22rem;
    margin-top: 1rem;
}


/*quadrado que contém as músicas*/
.quadrado1 {
    background-color: #E45195;
    width: 37rem;
    height: 39rem;
    padding: 2rem;
    margin-left: 17rem;
    display: inline-block;
    margin-top: 5.5rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
}

.musicprevia {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*quadrado que contém os gêneros*/
.quadrado2 {
    background-color: #E45195;
    width: 60rem;
    height: 49rem;
    justify-content:right;
    float: right;
    margin-right:12rem ;
    margin-top: 1rem ;
    border-radius: 1rem;
}


/*primeira coluna dos gêneros*/
.coluna1 {
    display:inline-block;
    float: left;
    display: grid;
    padding:1.5rem;
    padding-top: 1.5rem;
}


/*segunda coluna dos gêneros*/
.coluna2 {
    display:inline-block;
    display: grid;
    padding:1.5rem;
    float: right;
}


/*generos*/
.gen1 {
    width: 27rem;
    color:#E45195;
    font-size: 2.7rem;
    background-color: #f1dbda;
    border-radius: 0.5rem;

    margin-bottom: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.8rem;
    padding: 2rem;
    transition: all 0.5s;
    cursor: pointer;
}


/*generos*/
.gen2 {
    color:#E45195;
    font-size: 2.7rem;
    background-color: #f1dbda;
    border-radius: 0.5rem;
    margin-bottom: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.8rem;
    padding: 1.5rem;
    width: 27rem;
    transition: all 0.5s;
    cursor: pointer;
}


/*animação dos gêneros*/
.gen1:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition: all 0.3s;
    width:26rem;
    font-weight:600;
}


/*animação dos gêneros*/
.gen2:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition: all 0.3s;
    width:26rem;

    font-weight:600;
}


/*escrita no meio da pagina*/
.topglobais {
    font-size: 3.6rem;
    margin-top: 7rem;
    display: flex;
    color:#E45195;
    font-weight: bold;
    justify-content:center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
}

#home2 {
    display: flex;
    padding-right: 11.7rem;
    padding-left: 12rem;
}
/*primeira tabela de cantores*/
.tabela1cantores {
    background-color: #E45195;
    width: 40rem;
    height: 22rem;
    margin-top: 1rem;
    border-radius: 1rem;
    display:inline-block;
    display: grid;
    padding: 1rem;
}


/*foto do cantor e o nome*/
.primeirafila {
    display: flex;
    width: 36rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    height: 6rem;
}

.primeirafila:hover {
    transition: all 0.2s;
    box-shadow: 0 0 15px 1px #f9ebf2;
}

.filaright {
    display: flex;
    width: 36rem;
    border-radius: 1rem;
    display: flex;
    float: right;
    justify-content: right;
    align-items:center;
    margin-bottom: 1rem;
    height: 6rem;
    
}

.filaright2 {
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    float: right;
    height: 7rem;
    justify-content: right;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-top: 1.7;
    transition: all 0.5s;
    width: 36rem;
    
}

.filaright2:hover {
    transition: all 0.2s;
    box-shadow: 0 0 15px 1px #f9ebf2;
}

.filaright:hover {
    transition: all 0.2s;
    box-shadow: 0 0 15px 1px #f9ebf2;
}

/*foto do cantor*/
.fotocantor {
    width: 5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

/*nome do cantor*/
.nomecantor {
    font-size: 2rem;
    display: flex;
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    color:#f9ebf2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem ;
}
/*o melhor cantor*/
.top1 {
    background-color: #E45195;
    width: 32rem;
    margin-left: 12rem;
    margin-right: 12rem;
    height: 22;
    margin-top: 2rem;
    border-radius: 1rem;
    display: block;
    justify-content: center;
    align-items: center;
}


.fotoprincipal {
    width: 22rem;
    height: 15rem;
    border-radius: 1rem;
    margin-top: 1.7rem;
    
}

.nomeprincipal {
    font-size: 1.9rem;
    font-family: 'Montserrat', sans-serif;
}

/*segunda tabela de cantores*/
.tabela2cantores {
    background-color: #E45195;
    width: 40rem;
    height: 22rem;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flexbox;
    padding: 1rem;

}


/*retangulo maior abaixo dos cantores*/
.geral {
    background-color: #E45195;
    width: 128.6rem;
    height: 25rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 6rem;
    margin-left: 12rem;
    border-radius: 1rem;

}

.fila3 {
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    height: 7rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-top: 1.7;
    transition: all 0.5s;
    width: 36rem;
    margin-left: 1rem;
}

.fila3:hover {
    transition: all 0.2s;
    box-shadow: 0 0 15px 1px #f9ebf2;
}

.fileira1 {
    display: block;
}

.fileira2 {
    margin-left: 11.7rem;
}

.fileira3 {
    margin-left: 4.6rem;
}

/*footer do site*/
footer {
    background-color: #E45195;
    display: flex;
}

/*sobre o site*/
.lastify {
    font-size: 2rem;
    margin-top: 5rem;
    margin-left: -35rem;
    font-family: 'Montserrat', sans-serif;
}

/*meios de contato*/
.contatos {
    font-size: 1.7rem;
    margin-top: 3.7rem;
    margin-left: 15rem;
    font-family: 'Montserrat', sans-serif;
}

/*integrantes do grupo*/
.integrantes {
    font-size: 2rem;
    margin-top: 5rem;
    margin-left: 25rem;
    font-family: 'Montserrat', sans-serif;
    float: right;
    display: flex;
}

/*link decoration*/
a {
    text-decoration: none;
    color: #f9ebf2;
}